.inner {
  margin: 0 auto;
  position: relative;
}
.intro {
  margin-bottom: 50px;
}
.intro_txt {
  padding-left:40%;
}
.service_all {
  height: 100%;
  padding: 0 10%;
}
.section_ttl {
  margin-bottom: 0 auto;
  font-size: 40px;
  text-align: center;
}
.service_list {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.service_list li {
  float: left;
  flex-wrap: wrap;
  padding: 0;
  width: 20%;
}
.service_img_service {
  width: 100px;
  height: 100px;
  position: relative;
}
.service_img img {
  width: 150px;
  border-radius: 50%;
  height: 150px;
  margin-bottom: 15px;
}
.service_subttl {
  font-size: 20px;
}
.service_discript {
  text-align: center;
}
.btn {
  background: rgb(255, 255, 255);
  padding: 50px 30px;
  border: cornflowerblue;
  border-radius: 50%;
  width: 17%;
  margin: auto;
  text-align: center;
}

.btn a {
  color: #75a9ff;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .top_section {
    height: 900px;
  }
  .intro_txt {
    padding-left: 35%;
  }
}
@media screen and (max-width: 768px) {
  .service_img {
    height: 150px;
    width: 150px;
  }
  .intro_txt {
    padding-left: 30%;
  }
  .service_subttl {
    font-size: 15px;
  }
  .top {
    height: 700px;
  }
  .btn {
    width: 30%;
  }
}
/* レスポンシブ */
@media screen and (max-width: 480px) {
  .service_img img {
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin-bottom: 5px;
  }
  .top_section {
    height: 40vh;
    margin-bottom: 50px;
  }
  .service_subttl {
    font-size: 15px;
  }
  .service_all {
    height: 100%;
    padding: 0 3%;
  }
  .btn {
    width: 60%;
  }

  .service_item {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
  }
  .service {
    height: 100%;
  }
  .service_img img {
    width: 100px;
    height: 100px;
    text-align: center;
  }

  .service_list {
    flex-wrap: wrap;
  }
  .service_list ul {
    padding-left: 3 50px;
  }
  .service_all ul {
    height: auto;
    margin-bottom: 10%;
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
  }
  .service_list li {
    width: 40%;
    padding-right: 10%;
    justify-content: space-between;
  }
}
